# Bytecode and cache
__pycache__/
*.py[cod]
*.pyo
# OS-Specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
# IDE/project files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
# Installer/build artifacts
build/
dist/
*.spec
*.egg-info/
*.log
# Env/venv
.env
.venv/
venv/
env/
pip-selfcheck.json
# PyInstaller output
*.exe
*.dll
# Local testing output
tests/__pycashe__/
backups/
__test_*.tmp